@charset "utf-8";
/* CSS Document */
.partieheader {
	background-color: darkred;
	height: 90px;
}
html, body {
	height: 100%;
}
body {
	background: url(assets/img/fonpage.jpg) no-repeat top center;
	background-size: cover;
	overflow: hidden-x;
}

#logo {
	position: absolute;
	left:0px;
	opacity: 0;
}
nav {
	/*margin: 0 auto;*/
	float: right
}
.jumbotron {
	background: url(assets/img/bienvenue.jpg) no-repeat center center fixed;
	/*background-size: cover;*/
	color: white;
	text-shadow: 3px 3px 5px black;
	display: none;
}
/*.monlogo { }*/
.navbar-nav {
	background: url(assets/img/fondmenu.png) no-repeat;
	background-size: cover;
	border-radius: 8px;
	padding: 13px;
	color: white;
}
#navbarNavAltMarkup { z-index: 10;}
.navbar-nav .active {
	color: yellow;
	background-color: yellowgreen;
	border-radius: 8px;
}
.bg-special {
	background-color: darkred;
}
.bg-light {
	background-color: #fff !important;
}
.container {
	background-color: #a18f41;
	border-radius: 20px;
	/*margin-bottom: 20px;*/
}
#monfooter {
	color: white;
	background-color: #000;
}
#maboitededialogue {
	display: none;
}
#divhorloge {
	margin-bottom: 20px;
}
/* texte index après jumboutron*/
.seconde {
	display: none;
}