@charset "utf-8";
/* CSS Document */
.partieheader {
	background-color:darkred;
}
nav {
	/*margin: 0 auto;*/
	float: right
}
/*.monlogo { }*/
.navbar-nav .active{  color: yellow; background-color: #666; border-radius: 8px;}