@charset "utf-8";
/* CSS Document */
.partieheader {
	background-color:darkred;
}
html, body { height: 100%;}
body { 
background: orange url(assets/img/fonpage.jpg) no-repeat top center;
	background-size: cover;
	overflow: hidden;
	
}
nav {
	/*margin: 0 auto;*/
	float: right
}
/*.monlogo { }*/
.navbar-nav { background: url(assets/img/fondmenu.png) no-repeat ;
background-size: cover; border-radius: 8px; padding: 13px;
color: white;}

.navbar-nav .active{  color: yellow; background-color: yellowgreen; border-radius: 8px;}

.bg-light {background-color: #8b0000 !important;}

#monfooter { color: white; background-color: #000;}

#maboitededialogue {display: none;}